{{>header}}
<div class="container">
    <h3 class="errorMsg">{{errormsg}}</h3>
    <div class=" button404">
        <a href="{{header}}"><button class="btn"><span>Go back to {{headerTxt}}</span></button> </a>
    </div>

</div>
</section>
{{>footer}}
</body>

</html>