{{>header}}
<section class="container aboutSec">
    This site was created by Arif ur rahman by using Mapbox and Openweathermap API.
    <img width="230px" src="img/arif-final-dp.jpg" alt="about">
</section>
</section>
{{>footer}}
</body>

</html>